<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8"/>
    <title>Error de servidor interno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<div class="cover-v1 jarallax">
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-7 mx-auto text-center">
                <h1 class="heading gsap-reveal-hero">Error de servidor interno</h1>
                <h2 class="subheading gsap-reveal-hero">Lo siento, parece haber un error. Inténtelo de nuevo
                    pronto.</h2>
            </div>
        </div>
    </div>
</div>
</html>
